@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.esmeralda {
    --tw-bg-opacity: 1;
    background-color: rgb(52 211 153 / var(--tw-bg-opacity));
}

.icone_menu {
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

.font_header {
    font-size: 1.2rem;
}

.trilha_nav {
    margin-top: 2rem;
    margin-left: 2rem;
}

.card {
    background-color: rgb(52 211 153);
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    color: white;
}

.w_login {
    width: 60%;
}

.tela_altura_card {
    height: 50vh;
    margin-top: 15vh;
}

.tela_altura_card_2 {
    height: 55vh;
    margin-top: 15vh;
}

.tela_altura_titulo {
    height: 40vh;
    margin-top: 20vh;
}

.logo_font {
    font-family: 'Baloo Bhaijaan 2', sans-serif;
    font-size: 3rem;
    color: rgb(16 185 129);
}

.botao_auth {
    color: rgb(16 185 129);
}

.pl-login {
    padding-left: 20%;
}

.ml-15{
    margin-left: 15%;
}

.ml-7-5{
    margin-left: 7.5%;
}

.w-78{
    width: 78%;
}

.w-89{
    width: 89%;
}

.color-placeholder{
    color:rgba(97, 95, 95, 0.562);
}

.link{
    color:rgb(0, 153, 255);
    text-decoration: underline;
}

.link:hover {
    color:red;
}

.h-90{
    height: 90%;
}

.alerta{
    padding-left: 44%;
}