@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.esmeralda {
    --tw-bg-opacity: 1;
    background-color: rgb(52 211 153 / var(--tw-bg-opacity));
}

.icone_menu {
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

.font_header {
    font-size: 1.2rem;
}

.trilha_nav {
    margin-top: 2rem;
    margin-left: 2rem;
}

.card {
    background-color: rgb(52 211 153);
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    color: white;
}

.w_login {
    width: 60%;
}

.tela_altura_card {
    height: 50vh;
    margin-top: 15vh;
}

.tela_altura_card_2 {
    height: 70vh;
    margin-top: 10vh;
}

.tela_altura_titulo {
    height: 40vh;
    margin-top: 20vh;
}

.logo_font {
    font-family: 'Baloo Bhaijaan 2', sans-serif;
    font-size: 3rem;
    color: rgb(16 185 129);
}

.botao_auth {
    color: rgb(16 185 129);
}

.pl-login {
    padding-left: 20%;
}

.ml-15 {
    margin-left: 15%;
}

.ml-7-5 {
    margin-left: 7.5%;
}

.w-78 {
    width: 78%;
}

.w-89 {
    width: 89%;
}

.color-placeholder {
    color:rgba(97, 95, 95, 0.562);
}

.link {
    color:rgb(0, 153, 255);
    text-decoration: underline;
}

.link:hover {
    color:red;
}

.h-90 {
    height: 90%;
}

.alerta {
    padding-left: 44%;
}

.w-20\/100 {
    width: 20%;
}

.h-sidebar {
    height: 90vh;
}

.border-sidebar {
    border-left: 0.5px solid rgb(52 211 153);
}

.border-homebar {
    border-right: 0.01rem solid rgb(52 211 153);
}

.text-form-post {
    font-size: 1.2rem;
}

.border-cor {
    border-color: rgb(167 243 208);
}

.border-post-w {
    border-width: 1px;
}

.border-post-style {
    border-style: solid;
}

.tam-input-1 {
    font-size: x-small;
}

.btn-cor {
    background-color: rgb(52 211 153)
}

.btn-font-size {
    font-size: smaller;
}

.text-post-1:focus {
    outline: none;
}

.text-post-1 {
    resize: none;
}

.icone_menu_2 {
    font-size: 1.5rem;
}

.bg-opacity-85 {
    --tw-bg-opacity: 0.85;
}

.fs-sml {
    font-size: smaller;
}

.bg-gray-perfil {
    background-color: rgb(255, 250, 250);
}

.h-visor {
    height: 89.6vh;
}

.bg-white-tela {
    background-color: white;
}

.h-banner-perfil {
    height: 50vh;
}

.border-w {
    border-width: 2px;
}